body {
  margin: 0;
  padding: 0;
  background: #f2f2f2;
  font-family: Arial, sans-serif;
}

/* Área da câmera */
#camera {
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Vídeo menor */
#camera-view {
  width: 100%;
  height: auto;
  background: #000; /* só pra mostrar o quadro */
  border-radius: 10px;
}

/* Canvas fica oculto */
#camera-sensor {
  display: none;
}

#camera-output {
  width: 100%;
  display: none;
}

#camera-output.taken {
  display: block;
}

/* Botões */
#camera-trigger,
#camera-change {
  margin-top: 10px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #007BFF;
  color: white;
  font-size: 16px;
  cursor: pointer;
  width: 80%;
}

#camera-change {
  background: #28a745;
}

#camera-trigger:hover,
#camera-change:hover {
  opacity: 0.8;
}

/* Botões da PWA */
#btnSalvar, #btnListar, #btnExcluir {
  padding: 12px 20px;
  border: none;
  margin: 10px;
  background: #444;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}
